@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font-kanit: "Kanit", sans-serif;

$font-body: $font-kanit;

$font-families: (
    "kanit": "Kanit",
);

@each $name,
$font-family in $font-families {
    .font-#{$name} {
        font-family: $font-family, sans-serif;
    }
}
